
:host
  background: var(--theme-accent)
  border-radius: var(--radius)
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px
  cursor: pointer
  display: block
  padding: 16px


  &:hover
    header
      i-icon
        color: inherit
        transform: scale(1.2)

header
  display: flex
  font-weight: bold
  margin-bottom: 8px
  text-transform: capitalize

  &.empty span
    color: var(--text-secondary)

  i-icon
    color: var(--text-secondary)
    margin-inline-end: 8px

  span
    color: var(--text-primary)

footer
  color: var(--text-secondary)
  font-size: 14px
